[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/kangaechu/java.git
[submodule "cookbooks/iptables"]
	path = cookbooks/iptables
	url = https://github.com/kangaechu/iptables.git
[submodule "cookbooks/tomcat"]
	path = cookbooks/tomcat
	url = https://github.com/kangaechu/tomcat.git
